* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.carousel-item {
    height: 100vh;
}

.img-box {
    width: 550px;
    position: relative;
}

.pic-one {
    width: 100%;
}

.pic-two {
    width: 100px;
    position: absolute;
    left: 15px;
    bottom: 20px;
}

.pic-three {
    width: 75px;
    position: absolute;
    left: 150px;
    bottom: 70px;
}

.pic-four {
    width: 160px;
    position: absolute;
    right: 40px;
    top: 110px;
}

.pic-five {
    width: 110px;
    position: absolute;
    right: 20px;
    bottom: 0;
}

.pic-six {
    width: 160px;
    position: absolute;
    right: 160px;
    bottom: 35px;
}

.slide-one {
    background-color: #b0c6f5;
}

.carousel-item .row {
    margin: 12% 0;
}

.carousel-item h1 {
    margin-top: 40px;
    font-weight: bold;
    color: #0c5ce3;
}

.carousel-item p {
    margin: 30px 0 50px;
    font-size: 14px;
    color: #0c4fc4de;
}

.carousel-item button {
    padding: 8px 20px;
    background-color: #0c5ce3;
    border: 0;
    outline: none;
    border-radius: 20px;
    color: #fff;
    font-size: 14px;
}

.slide-two {
    background-color: #f7f7f7;
}

.slide-two h1, .slide-two p {
    color: #ee870af1;    
}

.img-one {
    width: 100%;
}

.img-two {
    width: 200px;
    position: absolute;
    left: 0;
    bottom: 20px;
}

.img-three {
    width: 70px;
    position: absolute;
    left: 245px;
    bottom: 55px;
}

.img-four {
    width: 60px;
    position: absolute;
    right: 155px;
    bottom: 95px;
}

.img-five {
    width: 100px;
    position: absolute;
    right: 50px;
    bottom: 20px;
}

.slide-two button {
    background: linear-gradient(to right, #feb154, #ffd255);
}

.navbar {
    background-color: crimson !important;
}

.navbar-nav a {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-light .navbar-brand {
    color: #fff !important;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
}

.navbar-nav {
    text-align: center;
}

.nav-link {
    padding: .2rem  1rem;
}


@media only screen and (max-width: 767px) {    
    .navbar-toggler {
        padding: 1px 5px;
        font-size: 18px;
        line-height: 0.3;
        background: #fff;
    }
}